<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.ios.cordova-idfa" version="0.1.0">
    <name>Cordova IDFA</name>
    <description>Identifier for Advertisers (IDFA) Plugin for iOS > 6</description>
    <license>Apache 2.0</license>
    <keywords>idfa, apple, ios</keywords>
    <js-module src="www/idfa.js" name="device">
        <clobbers target="device" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVIdfa">
                <param name="ios-package" value="CDVIdfa"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVIdfa.h" />
        <source-file src="src/ios/CDVIdfa.m" />
    </platform>
</plugin>
